header{
  background-color: red;
  padding:40px;
font-size: 30px;
  text-align:left;
background-image: linear-gradient(to bottom right, red, yellow);
  font-style: italic;
}
h1{
  font-size: 50px;
  color:#ffffff;
  font-style: normal;
}
nav{
  background-color: #ff4301;
  margin-top: 0.5%;
    margin-bottom: 0.5%;

}
nav a{
background-color: #f1fa3c;
  display  :inline-block;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color:#9d0b0b;

		margin: 1%;
text-align:left;
		border-radius: 5px;
}
nav a:hover{opacity: 2.5;
		background-color:#ffd31d;
		font-size: 120%;
}
div{
  font-size: 20px;
  color:#000000;

  font-style: normal;

}
h2{
    background-color: #ff9234;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
}
img{
  display:inline-block;
}
.link{
  border: 5px solid #e8ead3;

}
footer{
  background-image: linear-gradient(to bottom right, #ff512f ,  #dd2476);
  padding:30px;
  text-align: center;

}
footer a{
  padding-right:40px;
}
.active {
		background: #ffd31d; /* White */
	}
